.instructor-container{
    height: auto;
    display: grid;
    place-items: center;
    padding: 0 0 0 130px;
    justify-content: start;
    margin: 30px 0;

}

.instructor-container-content{
    width: 768px;
    height: auto;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
  
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
      0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    padding:20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.instructor-container-content-title{ 
    color: #000;
    font-size: 32px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.instructor-container-content-details{
    display: flex;
    gap: 30px;
}

.instructor-container-content-details-image{
width: 126px;
height: 126px;
border-radius: 126px;
/* background: url(<path-to-image>), lightgray 10.428px -5.431px / 84.026% 126.039% no-repeat, #D9D9D9; */
flex-shrink: 0;
}

.instructor-container-content-details-image img{
    width: 126px;
    height: 126px;
    object-fit: cover;
    border-radius: 126px;
}

.instructor-container-content-details-content{
display: flex;
flex-direction: column;
gap: 20px;
}

.instructor-container-content-details-content-name{
    color: #f66e24;
    font-size: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.instructor-container-content-details-content-details{
    display: flex;
    width: 550px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: justify;
}