.rateus-container {
  width: 1440px;
  height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rateus-container-content {
  width: 1160px;
  height: 704px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 0px 6px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 42px 0 0 0;
}
.rateus-container-content-title {
  color: #000;
  font-size: 40px;
  font-family: Inter;
  font-weight: 300;
  line-height: 137.523%;
  text-transform: uppercase;
}
.rateus-container-content-tagline {
  color: #000;
  font-size: 16px;
  font-family: Inter;
  line-height: 137.523%;
}
.rateus-container-content-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.rateus-container-content-form form {
  height: 575px;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rateus-container-content-form form textarea {
  width: 100%;
  height: 138px;
  padding: 20px;
  border-radius: 8px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
border: none;
  background: #fff;
  /* flex-shrink: 0; */
  resize: none;
  border-radius: 8px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  background: #fff;
  outline: none;
  color: rgba(0, 0, 0);
  font-size: 14px;
  font-family: Inter;
  line-height: 160%;
}
.rateus-container-content-form form textarea:focus {
  box-shadow: inset 0px 0px 0px 2px #f66e24;
  border: none;
}

.rateus-container-content-form-recommend-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* gap: 10px; */
}
.rateus-container-content-form-recommend-question {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-family: Inter;
  margin: 20px 0;
}
.rateus-container-content-form-recommend-radio {
  /* flex-shrink: 0; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
}
.rateus-container-content-form-recommend-radio-group {
  width: 75px;
  height: 26px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.rateus-container-content-form-recommend-radio-group input[type="radio"] {
  width: 20px;
  height: 20px;
  border:2px solid white;
  box-shadow:0 0 0 1px rgb(0, 0, 0);
  appearance:none;
  border-radius:50%;

  background-color:#fff;
  transition:all ease-in 0.2s;
  /* accent-color: #f66e24; */
  /* outline: none;
    border: none; */
}
.rateus-container-content-form-recommend-radio-group
  input[type="radio"]:checked {
  background-color: #f66e24;
}
.rateus-container-content-form-recommend-radio-group label {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-family: Inter;
}
.rateus-container-content-form-submitBtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 30px 0;
}
