.who-container {
    /* width: 1441px; */
    height: 220px;
    display: grid;
    place-items: center;
    padding: 0 0 0 130px;
    justify-content: start;
  }
  .who-container-content {
    width: 768px;
    height: 170px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
  
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
      0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    padding:0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .who-container-content-title {
    color: rgba(0, 0, 0, 0.9);
    font-size: 32px;
    font-family: Raleway;
    font-weight: 600;
  }
  .who-container-content-points {
    margin: 24px 0 0 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .who-container-content-points-icon {
    color: #008000;
    font-size: 25px;
  }
  .who-container-content-points-point {
    /* width: 324px; */
    height: 55px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 160%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  