.account-bottom-right-form-container {
  width: 75.64%;
  height: 620px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-form-email {
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.account-form-password {
  width: 124px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.account-form-email-input-field {
  width: 100%;
  height: 60px;
  padding: 0px 24px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.account-form-password-input-field {
  width: 100%;
  height: 60px;
  padding: 0px 24px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.account-form-save-btn-container {
  align-self: start;
  margin-left: 14%;
  margin-top: 24px;
}
.account-form-save-btn {
  height: 50px;
  width: 186px;
  padding: 16px 24px;
  border-radius: 40px;
  background: #01acf1;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  border: none;
  cursor: pointer;
  color: #e5e5e5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.account-form-email-container,
.account-form-password-container {
  width: 72%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.account-form-email-container {
  position: relative;
}
.account-form-line {
  height: 1px;
  width: 70%;
  background: rgba(0, 0, 0, 0.2);
  margin: 24px 8%;
}
.account-form-password-input-field::placeholder,
.account-form-email-input-field::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
.account-form-email-input-field-edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 30px;
  bottom: 22px;
}
.account-form-password-input-field:focus,
.account-form-email-input-field:focus {
  outline: none;
  border: 1px solid #f66e24;
}

@media (max-width: 641px) {
  .account-bottom-right-form-container {
    width: 100%;
    padding: 26px 0;
  }
  .account-form-email-container,
  .account-form-password-container {
    width: 90%;
  }
  .account-form-line {
    width: 80%;
  }
  .account-form-save-btn-container {
    margin-left: 5%;
  }
}
