
.bottom-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1.3%;
  background: #fff;
  padding: 1.5% 0 5% 0;
  flex-direction: row;
}
@media (max-width: 700px) {
  .bottom-container {
    flex-direction: column;
  }
}
