.buyBanner-container {
  width: 100%;
  height: 125px;
  background: #004560;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;

  /* gap: 130px; */
}
.buyBanner-container-content{
  width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buyBanner-container-left-top {
  color: #fff;
  font-size: 24px;
  font-family: Raleway;
  font-weight: 600;
}
.buyBanner-container-left-bottom {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: Raleway;
  line-height: 140%;
  letter-spacing: 0.24px;
}
