.top-container {
  height: 560px;
  display: flex;
  width: 1440px;
  /* padding: 0 30px ; */
  justify-content: space-evenly;
  margin-top: 50px;
}

.top-container-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-container-left-level {
  color: #000;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
}
.top-container-left-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 48px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.72px;
}
.top-container-left-description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-family: Raleway;
  line-height: 160%;
  letter-spacing: 0.24px;
}

.top-container-right {
  width: 373px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  margin: 0 0 80px 0;
}

.top-container-right-video-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.top-container-right-video-box-thumbnail {
  position: relative;
  margin-bottom: 17px;
}
.top-container-right-video-box-thumbnail img {
  object-fit: cover;
  width: 373px;
  height: 217px;
  border-radius: 12px 12px 0px 0px;
  filter: brightness(50%);
}
.top-container-right-video-box-thumbnail-playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}
.top-container-right-video-box-thumbnail-playBtn p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.top-container-right-video-box-tagline{
    color: rgba(0, 0, 0, 0.80);
font-size: 16px;
font-family: Inter;
/* padding: 15px 0; */
}

.top-container-right-video-desc{
    margin: 20px 30px;

}
.top-container-right-video-box-descTitle{
    color: #000;
font-size: 18px;
font-family: Raleway;
font-weight: 600;
margin-bottom: 16px;
}
.top-container-right-video-desc ul{
    list-style-type: none;
display: flex;
flex-direction: column;
gap: 5px;
}
.top-container-right-video-desc ul li{
  display: flex;
  gap: 10px;
  font-size: 16px;
font-family: Raleway;
line-height: 160%;
}

.top-container-right-video-box-icon{
  color: #F66E24;
  font-size: 24px;
}