@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.outline-btn {
  display: flex;

  justify-content: center;
  align-items: center;
  /* padding: 16px 24px; */
  gap: 10px;

  outline: 2px solid #f66e24;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06));
  border-radius: 10px;
  transition: 0.3s;

  /* text */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  color: #000000;
  cursor: pointer;
}
.fill-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 16px 24px; */
  gap: 10px;

  color: white;

  /* Blue */

  background: #01acf1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 10px;

  /* text */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  cursor: pointer;
}

/* effects */
.outline-btn:hover {
  background: #f66e24;
  transition: 0.3s;
  color: white;
}


.disable-startlearning{
  background-color: grey;
}