.VideoBox-container {
    width: 373px;
    height: 430px;
  
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin: 20px 0;
    
  }
  .VideoBox-container-thumbnail{
      position: relative;
      width: 100%;
  }
  .VideoBox-container-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 217px;
    border-radius: 12px 12px 0px 0px;
    filter: brightness(50%);
  }
  .VideoBox-container-thumbnail-playBtn{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      cursor: pointer;
  
  }
  .VideoBox-container-thumbnail-playBtn p{
      
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  
  
  color: #ffffff;
  }

  .VideoBox-container-textContent{
      font-family: 'Raleway';
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px 20px;
  }
  
  .VideoBox-container-textContent-videoDetails{
  padding: 10px 0;
  }
  .VideoBox-container-textContent-videoDetails-category{
      
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  
  color: rgba(0, 0, 0, 0.6);
  }
  .VideoBox-container-textContent-videoDetails-title{
      
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  }
  
  .VideoBox-container-textContent-bottom{
      display: flex;
      justify-content: space-between;
  }
  
  .VideoBox-container-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 20px;
    margin: 40px 0;
    
  }

  .VideoBox-container-button-text{
    color: var(--orange, #F66E24);
/* font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700; */
/* line-height: normal; */
text-decoration-line: underline;
cursor: pointer;
  }
.startLearning{
  width: 186px;
    height: 50px;
}
  @media screen and (max-width: 780px) {
    /* .VideoBox-container{
      width: 40%;
    } */

    .startLearning{
      width: 140px;
    }

  }
  @media screen and (max-width: 500px) {
    .VideoBox-container{
      width: 80%;
    }
    .startLearning{
      width: 130px;
      height: 40px;
    }
  }