
.videoPop-Container-main{
    height: 100vh;
    /* width: 1440px; */
    width: 100%;
    display: block!important;
    position:fixed;
    /* background-color: #1d1d1db6; */
    z-index: 100;
  
  }

  .videoPopUp-bg{
    height: 100vh;
    width: 100%;
    background-color: #1d1d1db6;
    position:fixed;
    top: 0;
  }

  .videoPopUp{
    /* display: none; */
    position: fixed;
    width: 712px;
    height: auto;
    /* left: 219px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #1D1A1A;
    border-radius: 20px;
    z-index: 2;
  }
  

.videoPopup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.videoPopup-container-close{
    color: white;
    position: absolute;
    right:30px;
    top: 30px;
    font-size: 25px;
    cursor: pointer;
}
.videoPopup-container-top-container{
    color: white;
    width: 80%;
}
.videoPopup-container-preview-text{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
margin: 10px 0;


}
.videoPopup-container-video-title{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
margin: 10px 0;
}
.videoPopup-container video{
    width: 80%;
    height: auto;
    margin: 20px 0;
}