@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.slidebox-container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  gap: 50px;
}

.slidebox-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

.slide-head {
  text-align: center;
}

.slide-head span {
  align-self: center;
  font-family: "Raleway";
  color: #000;

    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.slider-arrow {
  width: 150px;
  height: 24px;
  justify-content: flex-end;
  left: 20%;
  bottom: 13px;
  position: relative;
}

.carousel-container {
  width: 100%;
  margin-bottom: 180px;
}

.slider-content {
  display: flex;
  /* flex: 1 0 100%; */
  /* scroll-snap-align: start; */
  /* object-fit: cover; */
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 0 100px;
}

.icon66 {
  align-self: start;
}

.left-review {
  /* display: flex; */
  margin-top: 25px;
  width: 700px;
  height: 300px;
  /* margin-right: 96.28px; */
  text-align: start;
}

.review {
  height: 200px;
  display: flex;
  color: #3d3d3d;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 50.4px */
  letter-spacing: 0.54px;
  margin-bottom: 24px;
}
.review span{
  padding: 35px 0 0 0;
}
.review-name {
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
.review-name,
.review-occupation {
padding: 0 0 0 80px;
}
.review-occupation {
  color: #000;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .right-image {
    border-radius: 20px;

} */

.right-image img {
  width: 300px;
  height: 294px;
  border-radius: 20px;
  object-fit: cover;
}

.carousel .control-dots .dot {
  background-color: rgba(246, 110, 36, 0.8);
  box-shadow: none;
}

.carousel .control-dots .dot.selected {
  background-color: #f66e24;
  /* Replace with your desired active dot color */
}
