.navbar-container {
  width: 1440px;
  height: 100px;

  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(1, 172, 241, 0.04),
    0px 2px 4px rgba(1, 172, 241, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
  /* position: fixed; */
  top: 0;
  z-index: 99;
}
.navbar-container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 170px; */
  /* width: 1440px; */
  width: 100%;
  margin: 0 5%;
}
.navbar-logo img {
  width: 100px;
  height: 100px;
}

.navbar-container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

/* .navbar-navlinks {
  height: 100%;
} */
.navbar-navlinks ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 60px;
  height: 100%;
}
.navbar-navlinks ul li {
  list-style-type: none;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.navbar-login-btn {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height, or 116% */

  text-transform: uppercase;

  color: #e5e5e5;

  justify-content: center;
  align-items: center;
  padding: 10px 40px;

  /* Blue */

  background: #01acf1;
  box-shadow: 0px 0px 3.375px rgba(0, 0, 0, 0.04),
    0px 3.375px 6.75px rgba(0, 0, 0, 0.06);
  border-radius: 15px;

  cursor: pointer;
}
.navbar-navLinks-navLink {
  color: #000;
}
.active {
  color: #f66e24;
}

.navbar-navbar-navlinks-icon {
  font-size: 35px;
  display: none;
  cursor: pointer;
}

.navbar-userProfile-profile {
  width: 45px;
  height: 45px;
  background-color: #7ec419;
  border-radius: 50%;
  display: grid;
  place-content: center;

  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
  letter-spacing: -0.128px;
  cursor: pointer;
}

.navbar-userProfile-dropdownItem {
  margin: 15px 0 0 0;

  position: absolute;
  right: 48px;
  width: 190px;
  /* background: #124578; */
  padding: 20px 20px;
  /* border-radius: 5px; */

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  /* transition: display 2s linear; */
}
.navbar-userProfile-dropdownItem-item {
  width: 30px;
  height: 30px;
  background-color: #7ec419;
  border-radius: 50%;
  display: grid;
  place-content: center;

  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
  letter-spacing: -0.128px;
}
.navbar-userProfile-dropdownItem p.navbar-profile {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 55px;
  gap: 10px;
  padding: 0;
  cursor: default;
}

.navbar-userProfile-dropdown-name {
  display: flex;
  flex-direction: column;
}
.navbar-userProfile-dropdown-name span:nth-child(1) {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar-userProfile-dropdown-name span:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navbar-userProfile-dropdownItem p {
  padding: 20px 0 0px 0;
  color: rgba(0, 0, 0, 0.9);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.LoginProfileIcon {
  font-size: 43px;
  color: black;
}

/* @media screen and (max-width:800px){
  .navbar-container{
    height: 69px;
  }
} */

@media screen and (max-width: 775px) {
  .navbar-container-links {
    gap: 20px;
  }
  .navbar-userProfile-dropdownItem {
    right: 90px;
  }
}

@media screen and (max-width: 500px) {
  .navbar-userProfile-dropdownItem {
    right: 10px;
  }
}