.footer-container {
  /* width: 1440px; */
  width: 100%;
  height: 700px;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  color: #fff;
}

.footer-container-top {
  display: grid;
  place-items: center;
}
.footer-container-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer-container-subscribe p {
  color: var(--wite, #fff);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.footer-container-subscribe-input {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.footer-container-subscribe-input-field {
  display: inline-flex;
  height: 100%;
  width: 70%;
  border-radius: 5px;
  border: none;
  /* outline: 1px solid rgba(0, 0, 0, 0.6); */
  /* background: var(--wite, #FFF); */
  align-items: center;
  padding: 0 14px;
  outline: 1px solid #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  /* text-align: left; */
}
.footer-container-subscribe-input-field:focus {
  border: none;
  outline: 2px solid #f66e24;
}

.footer-container-subscribe-input-btn {
  display: flex;
  width: 107px;
  height: 100%;
  padding: 16px 24px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  background: var(--blue, #01acf1);
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  border: none;
}

.footer-container-mid {
  display: flex;
  width: calc(100% - 60px);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 60px;
}

.footer-container-mid-content {
  display: flex;
  gap: 65px 220px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contact {
  align-self: flex-start;
}
.footer-mid-title {
  color: var(--wite, #fff);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}

.footer-container-mid ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-letshelp,
.footer-sitemap,
.footer-contact {
  text-align: center;
}

.footer-letshelp ul li,
.footer-sitemap ul li,
.footer-contact ul li {
  color: #b6b6b6;
}
/* .footer-contact ul li {
  color: #fff;
} */
.footer-letshelp ul li,
.footer-sitemap ul li,
.footer-contact ul li {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer-container-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #000;
  padding: 0 0 30px 0;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
  font-size: 24px;
  /* color: #fff; */
  color: #b6b6b6;

}
.footer-social-icon a{
  text-decoration: none;
  /* color: #fff; */
  color: #b6b6b6;
}
.footer-social-icon a:hover{
  text-decoration: none;
  color: #f66e24;
}
.footer-copyright {
  color: var(--wite, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: auto;
}
.footer-copyright p{
  display: inline;
}
.footer-copyright p span:nth-child(1) {
  color: #f66e24;
}
.footer-copyright p span:nth-child(2) {
  color: #89c11f;
}
.footer-copyright p span:nth-child(3) {
  color: #01acf1;
}

@media screen and (max-width: 910px) {
  .footer-container-mid-content {
    gap: 65px 150px;
  }
}
@media screen and (max-width: 910px) {
  .footer-container-mid-content {
    gap: 65px 150px;
  }
}
@media screen and (max-width: 590px) {
  .footer-container {
    /* width: 1440px; */
    height: auto;
    gap: 50px;
  }
}
@media screen and (max-width: 540px) {
  .footer-container-top {
    height: auto;
    padding: 30px 0;
  }
  .footer-container-top,
  .footer-container-subscribe {
    width: 100%;
  }
  .footer-container-subscribe-input {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: auto;
  }
  .footer-container-subscribe-input-field {
    height: 50px;
  }
  .footer-container-subscribe-input-btn {
    width: 160px;
    height: 50px;
  }
}
@media screen and (max-width: 440px) {
  .footer-container-subscribe p {
    font-size: 16px;
  }

  .footer-container-mid-content {
    gap: 50px 50px;
    justify-content: center;
  }
  .footer-container-bottom {
    gap: 10px;
    padding: 0;
  }
  .footer-social-icon {
    align-self: flex-end;
    padding: 0 30px;
  }
  .footer-copyright {
    /* position: relative; */
    width: 100%;
    height: 40px;
    /* padding: 20px 30px; */
    display: grid;
    place-items: center;
    /* justify-content: center;
    align-items: center; */
    gap: 0px;
    background-color: #222222;
  }
}

@media screen and (max-width: 365px) {
  
  .footer-container-bottom {
    width: 100%;
  }
  .footer-copyright {
    font-size: 12px;
    /* padding: 7px 30px; */
    width: 100%;
    gap: 0;
  }
}
