.footer-container {
  /* width: 1440px; */
  height: 378px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
}
.footer-container-content {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: Inter;
  font-style: normal;
  gap: 70px;
  line-height: normal;
}

.footerLink {
  color: #b6b6b6;
}
.footerLink.active {
  color: #b6b6b6;
}

.footer-container-sitemap {
  display: flex;
  width: 101px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer-container-sitemap-title,
.footer-container-letshelp-title,
.footer-container-contact-title {
  color: #fff;
  font-size: 24px;
  font-family: Inter;

  font-weight: 600;
}
.footer-container-sitemap-links {
  color: #b6b6b6;
  font-size: 16px;
}
.footer-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-container-letshelp {
  display: flex;
  width: 146px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer-container-midSection {
  width: 491px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-container-midSection-logo {
  width: 117px;
  height: 124px;
  /* object-fit: fill; */
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  /* flex-shrink: 0; */
}
.footer-container-midSection-logo img {
  width: 117px;
  height: 124px;
  object-fit: cover;
}
.footer-container-midSection-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-container-midSection-subscribe-title {
  color: #fff;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.footer-container-midSection-subscribe-form {
  width: 100%;
  display: flex;
  gap: 10px;
 
}
.footer-container-midSection-subscribe-form input[type="text"] {
  display: inline-flex;
  /* padding: 14px 142px 14px 0px; */
  width: 334px;
  height: 10px;
  padding: 20px;
  border-radius: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.6); */
  border: none;
  background: #fff;
  align-items: center;
  /* color: rgba(0, 0, 0, 0.4); */
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
outline: none;
}
.footer-container-midSection-subscribe-form input[type="text"]:focus{
  box-shadow: inset 0px 0px 0px 2px #f66e24;
  border: none;
}


.footer-container-midSection-subscribe-form input[type="button"] {
  display: flex;
  width: 107px;
  height: 50px;
  /* padding: 16px 24px; */
  border-radius: 5px;
  background: #01acf1;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  /* gap: 10px; */
  /* flex-shrink: 0; */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);

    color: #E5E5E5;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* display: grid; */
    /* place-items: center; */
    cursor: pointer;
}

.footer-container-contact{
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer-container-contact-details{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-container-contact-details-address,
.footer-container-contact-details-phone,
.footer-container-contact-details-mail{
width: 180px;
  display: flex;
  gap: 20px;
}

.footer-copyright-container{
  display: flex;
  /* width: 1440px; */
  height: 30px;
  background: #222;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  /* gap: 25px; */

  color: #FFF;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-copyright-container-left{
  width: 44%;
}
.footer-copyright-container-left span:nth-child(1){
  color: #F66E24;
  
}
.footer-copyright-container-left span:nth-child(2){
  color: #008000;
  
}
.footer-copyright-container-left span:nth-child(3){
  color: #01ACF1;
  
}
.footer-copyright-container-right{
  width: 35%;
  
  
  display: flex;
  justify-content: flex-end;
  gap: 20px;
font-size: 20px;
  color: #979797;
}