.login-container{
    height: 655px;
    display: grid;
    place-items: center;
}

.login-container-content{
    display: flex;
    width: 444px;
    height: 633px;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
    justify-content: center;
    
    /* flex-shrink: 0; */
    /* border: 1px solid black; */
}

.login-container-content-header{
    display: flex;
    /* width: 428px; */
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 4px;

}
.login-container-content-header-title{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.login-container-content-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
}

.login-container-content-form-submitBtn{
    display: flex;
    width: 396px;
    height: 50px;
    /* padding: 16px 24px; */
    border-radius: 8px;
    background:  #F66E24;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
    border: none;

    color: #E5E5E5;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    cursor: pointer;
}
.login-container-content-form-submitBtn input{
    background: none;
    border: none;
    
    color: #E5E5E5;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.login-inputbox{
    position: relative;

}
.password-toggle-icon{
    position: absolute;
    top: 25%;
    right: 10px;
    z-index: 98;
    cursor: pointer;
    font-size: 24px;
   
}


.login-container-content-forgot{
    color:  #01ACF1;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
    margin-top: 8px;
}
.login-container-content-oauth{
    margin: 20px 0 ;
}
.continue-container{
    display: flex;
    height: 50px;
    overflow: hidden;
    /* padding: 17px 16px; */
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    padding: 0 20px;
    margin: 10px 0 10px 0;
}


.continue-container-icon img{
  width: 25px;
  height: 25px;
  overflow: hidden;
    
}

.continue-container-social{
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-container-content-signup{
    color: #1C2129;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.login-container-content-signup span:nth-child(1){
    color: #F66E24;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .login-container{
        width: 100%;
    }
    .login-container-content-form{
        width: 100%;
    }
    .login-container-content{
        width: 90%;
    }
    .inputFeild{
        width: calc(90% - 5px)!important;
    }
    
    .login-container-content-form-submitBtn{
width: 90%!important;
    }
    .login-inputbox{
        width: calc(90% - 20px);
    }
    .password-toggle-icon{
       
        right: 7%;
       
    }
}