@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root{
  --blue: #01acf1;
  --green: #89c11f;
  --orange: #f66e24;
}
* {
  margin: 0;
  padding: 0;
/* scroll-behavior: smooth; */

}
 
  
  ::-webkit-scrollbar {
    width: 2px;
      height: 1px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
.App{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a{
  text-decoration: none;
}
.Achievement,
.HealthGuides,
.midBanner,
.pricing-table-container,
.Testinomial
{
  /* width: 1440px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 1000px; */
}

.Testinomial
{
  /* width: 1440px; */
  width: 100%;
}
.midBanner {
  /* width: 1440px; */
  width: 100%;
  height: 640px;
  /* margin: 100px 0; */
  margin-bottom: 20px;
  margin-top: 50px;
}

.pricing-table-container {
  /* width: 1440px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
.pricing-table-heading {
  width: 739px;
  height: 150px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 80px;
}
.pricing-table-heading span{
color: var(--orange);
font-weight: 600;
font-size: 80px;
}
.pricing-table-pointing-up-arrow {
  position: relative;
  /* position: absolute; */
  right: 270px;
  transition: 2s all;
  top: 17px;
  right: 187px;
}

.pricing-table {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing-table-pointing-down-arrow {
  position: relative;
  /* position: absolute; */
  /* width: 249.92px;
    height: 91.25px; */
  left: 177px;
  transition: 2s all;
}

.HealthGuides {
  height: auto;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.videoCard-link{
  color: black;
}

.singleVideo-Container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width:1440px;
  position: relative;
  height: auto;
  /* padding: 0 0 0 130px; */
  margin: 20px 0 0 0 ;
}

.main-profile-container{
  width: 100%;
}
.Profile-bio-heading{
  width: 100%;
}
.Profile-bio-heading p{
  margin: 0 12%;
  font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
text-align: left;

}