@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;


}
.App{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a{
  text-decoration: none;
}
.Achievement,
.HealthGuides,
.midBanner,
.pricing-table-container,
.Testinomial
{
  /* width: 1440px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 1000px; */
}

.midBanner {
  width: 1440px;
  height: 640px;
  margin: 100px 0;
}

.pricing-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.pricing-table-heading {
  width: 739px;
  height: 150px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 40px;
}

.pricing-table-pointing-up-arrow {
  position: relative;
  /* position: absolute; */
  right: 270px;
  transition: 2s all;
  top: 17px;
  right: 187px;
}

.pricing-table {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.pricing-table-pointing-down-arrow {
  position: relative;
  /* position: absolute; */
  /* width: 249.92px;
    height: 91.25px; */
  left: 177px;
  transition: 2s all;
}

.HealthGuides {
  height: auto;
  margin: 50px 0px;
}

.videoCard-link{
  color: black;
}

.singleVideo-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:1440px;
}