@media only screen and (max-width: 1366px) {
  .achievement-container,
  .HealthGuides,
  .midBanner,
  .midBanner-container,
  .pricing-table-container,
  .Testinomial {
    width: 100%;
  }

  .videoCard-Box,
  .slidebox-container {
    width: 100% !important;
  }

  .who-container-content {
    width: 648px;
  }
}
@media only screen and (max-width: 1300px) {
  .pricing-table-pointing-up-arrow {
    right: 60px;
    transition: 2s all;
  }
  .pricing-table-pointing-down-arrow {
    position: relative;
    /* position: absolute; */
    /* left: 177px; */
    transform: rotateY(169deg);
    transform: rotateY(200px);
    rotate: 322deg;
    bottom: 593px;
    transition: 2s all;
    left: 330px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-container {
    gap: 100px !important;
  }
  .midBanner-container-right-first-image {
    width: 150px !important;
    height: 150px !important;
  }
  .midBanner-container-right-first-image img {
    width: 150px !important;
    height: 150px !important;
  }

  .midBanner-container-right-second-image {
    width: 250px !important;
    height: 250px !important;
  }
  .midBanner-container-right-second-image img {
    width: 250px !important;
    height: 250px !important;
  }
  .midBanner {
    width: 87%;
  }
}
@media only screen and (max-width: 1100px) {
  .Achievement {
    height: 665px;
    padding: 30px 0;
  }
  .achievement-container {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .achievement-left {
    width: 580px;
    height: 134px;
  }
  .achievement-right {
    font-size: 55px;
    line-height: 65px;
    /* text-align: center; */
  }
  .midBanner {
    height: auto;
  }
  .midBanner-container {
    flex-direction: column !important;
  }
  .midBanner-container-left {
    width: 70% !important;
  }
}

@media only screen and (max-width: 860px) {
  /* .Achievement {
    height: 805px;
    padding: 30px 0;
  } */
  .pricing-table-pointing-arrow {
    display: none;
    /* right: 60px; */
    transition: 2s all;
  }
  .pricing-table-pointing-down-arrow {
    display: none;
  }
  .midBanner-container {
    width: 100%;
  }
  .midBanner-container-left-title {
    text-align: center;
  }
  .midBanner-container-right-first-image {
    left: 65px !important;
  }
  .pricing-table-heading {
    width: 100%;
    font-size: 50px;
    line-height: 65px;
    margin: 0;
  }
  .pricing-table-pointing-up-arrow {
    display: none;
  }
  .slide-head span {
    font-size: 50px !important ;
  }
  .carousel-container {
    width: 95% !important;
    margin-top: 20px;
    height: 342px;
    margin-bottom: 50px !important;
  }
  .carousel-root {
    height: 100%;
  }
  .carousel .slider-wrapper {
    height: 100%;
  }
  .carousel.carousel-slider {
    height: 100%;
  }
  .icon66 svg {
    height: 78px;
    width: 63px;
  }
  .slider{
    height: 100%;
  }
  .slider-content{
    height: 100%;
  }
  .left-review{
    height: 100%;
  }
}

@media only screen and (max-width: 700px) {
  /* .achievement-left {
    width: 80%;
  } */
  .achievement-right {
    line-height: 60px;
  }
  .achievement-left {
    /* width: 600px;
    height: 134px; */
    padding: 0 0 0 25px;
    gap: 17px;
  }
  /* .achievement-left-counter {
    justify-content: space-evenly;
  } */
}

@media only screen and (max-width: 650px) {
  .achievement-right {
    width: 434px;
    line-height: 60px;
    height: 326px;
  }
  .achievement-left {
    width: 460px;
  }
  .healthGuides-title {
    width: 100% !important;
    font-size: 50px !important;
  }
  .midBanner-container-right {
    width: 100% !important;
  }
  .midBanner-container-right-first-image {
    top: 8px !important;
    left: 4px !important;
  }
  .midBanner-container-right-second-image {
    left: 140px !important;
  }
  .midBanner-container-left {
    width: 100% !important;
    height: 445px!important;
  }
  .midBanner-container-left-title {
    width: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  .Achievement {
    height: 465px;
    padding: 30px 0;
  }
  .achievement-right {
    font-size: 39px;
    width: 338px;
    line-height: 48px;
    height: 264px;
  }
  .achievement-left {
    width: 370px;
  }
  .midBanner {
    margin-bottom: 100px;
  }
  .midBanner-container-right-second-image {
    left: 84px !important;
  }
  .pricing-table-heading {
    width: 100%;
    font-size: 50px;
  }
  .pricing-table-heading {
    margin-bottom: 40px;
  }
  #star {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .achievement-right {
    width: 319px;
    line-height: 48px;
  }
  .achievement-left {
    width: 344px;
  }
  .videoCard-container {
    width: 319px !important;
  }
  .videoCard-container-thumbnail img {
    width: 310px !important;
  }
}
@media only screen and (max-width: 350px) {
  .Achievement {
    height: 543px;
    /* padding: 43px 0; */
  }
  .achievement-right {
    width: 287px;
    font-size: 32px;
    padding: 0 0 0 20px;

    height: 235px;
  }
  .achievement-left {
    width: 295px;
  }
}
