@media only screen and (max-width: 1366px) {
  .navbar-container {
    width: 100% !important;
  }
  .achievement-container,
  .HealthGuides,
  .midBanner,
  .midBanner-container,
  .pricing-table-container,
  .Testinomial {
    width: 100%;
  }

  .videoCard-Box,
  .slidebox-container {
    width: 100% !important;
  }

  
}
@media only screen and (max-width: 1300px) {
  .pricing-table-pointing-up-arrow {
    right: 60px;
    transition: 2s all;
  }
  .pricing-table-pointing-down-arrow {
    position: relative;
    /* position: absolute; */
    /* left: 177px; */
    transform: rotateY(169deg);
    transform: rotateY(200px);
    rotate: 322deg;
    bottom: 593px;
    transition: 2s all;
    left: 330px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-container {
    gap: 100px !important;
  }
  .midBanner-container-right-first-image {
    width: 150px !important;
    height: 150px !important;
  }
  .midBanner-container-right-first-image img {
    width: 150px !important;
    height: 150px !important;
  }

  .midBanner-container-right-second-image {
    width: 250px !important;
    height: 250px !important;
  }
  .midBanner-container-right-second-image img {
    width: 250px !important;
    height: 250px !important;
  }
  .midBanner {
    width: 87%;
  }
}
@media only screen and (max-width: 1100px) {
  .Achievement {
    height: 665px;
    padding: 30px 0;
  }
  .achievement-container {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .achievement-left {
    width: 580px;
    height: 134px;
  }
  .achievement-right {
    font-size: 55px;
    line-height: 65px;
    /* text-align: center; */
  }
  .midBanner {
    height: auto;
  }
  .midBanner-container {
    flex-direction: column !important;
  }
  .midBanner-container-left {
    width: 70% !important;
  }
}

@media only screen and (max-width: 950px) {
  .pricing-table-pointing-up-arrow{
    display: none;
  }
  .pricing-table-pointing-down-arrow {
    display: none;
  }
  .priceBox-container,
  .gradient-border{
    width: 295px;
  }
  #star {
   
    left: 305px;
  }
}
@media only screen and (max-width: 860px) {
  /* .Achievement {
    height: 805px;
    padding: 30px 0;
  } */
  .pricing-table-pointing-arrow {
    display: none;
    /* right: 60px; */
    transition: 2s all;
  }

  
  
  .midBanner-container {
    width: 100%;
  }
  .midBanner-container-left-title {
    text-align: center;
  }
  .midBanner-container-right-first-image {
    left: 65px !important;
  }
  .pricing-table-heading {
    width: 100%;
    font-size: 50px;
    line-height: 65px;
    margin: 0;
  }
  .pricing-table-pointing-up-arrow {
    display: none;
  }
  .slide-head span {
    font-size: 49px !important ;
  }
  .carousel-container {
    width: 95% !important;
    margin-top: 20px;
    height: 385px;
    margin-bottom: 50px !important;
  }
  .carousel-root {
    height: 100%;
  }
  .carousel .slider-wrapper {
    height: 100%;
  }
  .carousel.carousel-slider {
    height: 100%;
  }
  .icon66 svg {
    height: 78px;
    width: 63px;
  }
  .slider {
    height: 100%;
  }
  .slider-content {
    height: 100%;
  }
  .left-review {
    height: 100%;
  }

  .review {
    line-height: 114% !important;
  }
  .review-name,
  .review-occupation {
    padding: 0 0 0 44px !important;
  }
  .icon66 svg {
    height: 77px;
    width: 44px;
  }
}
@media screen and (max-width: 780px) {



  .navbar-navlinks {
    /* display: none; */
    left: -750px;
    position: absolute;
    /* top: -41px; */
    padding: 25px 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    background-color: white;
    width: 100vw;
    overflow: hidden;
    left: -100vw;
    top: 100px;
  }
  .navbar-navlinks.display {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    /* position: fixed; */
    
  
    transition: all 0.5s ease-in-out;
    left: 0;
  }

  .navbar-navlinks ul {
    flex-direction: column !important;
    justify-content: flex-start !important;
  }

  .navbar-navbar-navlinks-icon {
    display: grid !important;
    place-items: center;
  }
}
@media only screen and (max-width: 700px) {
  /* .achievement-left {
    width: 80%;
  } */

  .achievement-right {
    line-height: 60px;
  }
  .achievement-left {
    /* width: 600px;
    height: 134px; */
    /* padding: 0 0 0 25px; */
    gap: 17px;
  }
  /* .achievement-left-counter {
    justify-content: space-evenly;
  } */
}

@media only screen and (max-width: 650px) {
  .landing-container-content {
    width: 100% !important;
  }
  .landing-container-content-title {
    font-size: 48px !important;
  }

  .achievement-right {
    width: 460px;
    line-height: 60px;
    height: 326px;
  }
  .achievement-left {
    width: 460px;
  }
  .healthGuides-title {
    width: 100% !important;
    font-size: 42px !important;
  }
  .midBanner-container-right {
    width: 100% !important;
  }
  .midBanner-container-right-first-image {
    top: 8px !important;
    left: 4px !important;
  }
  .midBanner-container-right-second-image {
    left: 140px !important;
  }
  .midBanner-container-left {
    width: 100% !important;
    height: 285px !important
  }
  .midBanner-container-left-title {
    width: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  .Achievement {
    height: 465px;
    padding: 30px 0;
  }
  .achievement-right {
    font-size: 39px;
    width: 338px;
    line-height: 48px;
    height: 264px;
  }
  .achievement-left {
    width: 370px;
  }

  .midBanner-container-left {
    height: 230px !important;
  }
  .midBanner-container-left-title {
    font-size: 40px !important;
    line-height: 47px !important;
  }
  .midBanner-container-right-second-image {
    left: 65px !important;
  }
  .priceBox-container {
    width: 254px;
  }
  .pricing-table-heading {
    width: 100%;
    font-size: 50px;
  }
  .pricing-table-heading {
    margin-bottom: 40px;
  }
  /* #star {
    display: none;
  } */

  #star {
    /* position: absolute;
    width: auto; */
    left: 260px;
  }
  .priceBox-btn {
    width: 115px !important;

    height: 40px !important;
  }
  .slider-content {
    gap: 5px !important;
  }
  .icon66 svg {
    height: 85px;
    width: 36px;
  }
  .review {
    font-size: 16px !important;
    text-align: justify;
    letter-spacing: 0 !important;
  }
  .left-review {
    margin: 0 !important;
  }
  .right-image img {
    width: 150px !important;
    height: 150px !important;
  }
  .slider-content {
    flex-direction: column-reverse;
  }
  .left-review {
    width: 380px !important;
    height: 225px !important;
  }
  .review {
    height: 145px !important;
  }
  .review-name,
  .review-occupation {
    padding: 0 0 0 35px !important;
  }
  .midBanner-container-right-second-image {
    bottom: 0 !important;
  }

  .button-section {
    gap: 27px;
  }
}

@media only screen and (max-width: 400px) {
  .landing-container-content-title {
    font-size: 35px !important;
  }
  .landing-container-content {
    width: 100% !important;
  }
  .landing-container-content-tagline {
    font-size: 20px !important;
  }
  .landing-container-content-info {
    font-size: 12px !important;
    padding: 0 20px;
    width: auto;
  }
  .achievement-right {
    width: 319px;
    line-height: 48px;
  }
  .achievement-left {
    width: 316px;
    padding: 0;
  }
  .achievement-left-counter {
    display: flex;
    justify-content: flex-start;
    gap: 33px;
  }
  .priceBox-answer-content {
    width: 197px;
  }
  .priceBox-btn {
    width: 108px !important;
  }
  .button-section {
    gap: 20px;
  }

  .priceBox-feature-answer {
    width: 234px;
  }
  .priceBox-Answer-container {
    width: 232px;
  }
  .videoCard-container {
    width: 288px !important;
  }
  .videoCard-container-thumbnail img {
    width: 288px !important;
  }
  .left-review {
    width: 280px !important;
    height: 225px !important;
  }
  .priceBox-container {
    width: 224px;
  }
  #star {
    display: none;
  }
}
@media only screen and (max-width: 350px) {
  .Achievement {
    height: 543px;
    /* padding: 43px 0; */
  }
  .achievement-container{
    gap: 50px;
  }
  .achievement-right {
    width:90%;
    font-size: 32px;
    /* padding: 0 0 0 20px; */

    height: 235px;
  }
  .achievement-left {
    width: 295px;
  }

  .midBanner-container-right-first-image {
    width: 110px !important;
    height: 110px !important;
  }
  .midBanner-container-left svg {
    width: 250px;
  }
  .midBanner-container-right-first-image img {
    width: 110px !important;
    height: 110px !important;
  }
  .midBanner-container-right-second-image {
    width: 200px !important;
    height: 200px !important;
  }
  .midBanner-container-right-second-image img {
    width: 200px !important;
    height: 200px !important;
  }

  .pricing-table-heading {
    /* width: 100%; */
    font-size: 45px;
    line-height: 55px;
  }
  #star {
    display: none;
  }
  .review {
    height: 144px !important;
  }
}
