.about-section{
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #01ACF1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
    flex-wrap: wrap;
    gap: 40px;
}

.about-section-left{
    width:500px;
}

.about-section-left-image{
    width: 497px;
    height: 504px;
    background: #D9D9D9;
    display: grid;
    place-items: center;
}
.about-section-left-image-imgbox{
    width: 348px;
    height: 390px;
    border-radius: 8px;
    box-shadow: -11px 12px 26px 0px rgba(0, 0, 0, 0.40) inset, -10px 10px 24px 0px rgba(0, 0, 0, 0.60);
   
}
.about-section-left-image-imgbox img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
 
}

.about-section-right{
width: 450px;
color: #D3D3D3;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.08px;
}

.about-section-right-title{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
}

.about-section-right-title-bar{
   
    background-color: #01ACF1;
    width: 5px;
    border-radius: 10px;
    height: 40px;

}

.about-section-right-title-text{
    color: var(--wite, #FFF);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about-section-right-content{
    width: 100%;
    height: auto;
    margin: 22px 0;
}

.about-section-right-content p{
    margin: 0 0 22px 15px;
}


@media only screen and (max-width: 555px) {
    .about-section-left{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .about-section-left-image{
        width: 90%;
        height: 504px;
       
        display: grid;
        place-items: center;
    }
    .about-section-left-image-imgbox{
        width: 80%;
        height: 80%;
       
       
    }

    .about-section-right{
        width: 90%;
        
    }

}