.what-container {
  /* width: 1440px; */
  height: auto;
  max-width: 1440px;
  width: calc(100% - 120px);
  padding: 0 60px;
}
.what-container-content {
  width: calc(100% - 90px);
  height: auto;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  padding:20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.what-container-content-title {
  color: rgba(0, 0, 0, 0.9);
  font-size: 32px;
  font-family: Raleway;
  font-weight: 600;
}
.what-container-content-points {
  margin: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.what-container-content-points-icon {
  color: #008000;
  font-size: 25px;
}
.what-container-content-points-point {
  width: auto;
  height: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-family: Raleway;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  justify-content: center;
  gap: 10px;
}


@media screen and (max-width: 500px) {
  .what-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}